In [1]:
import pandas as pd
import xlrd
import numpy as np

#load data
df = pd.read_excel('Aluminum_Test.xlsx',header=None)
df1 = pd.read_excel('cloth.Test.xlsx',header=None)
df2 = pd.read_excel('Table_Test.xlsx',header=None)

#add labels
df.insert(0,'labels',1)
df1.insert(0,'labels',2)
df2.insert(0,'labels',3)

#concatenate datasets
frames = [df]
results = pd.concat(frames)

# Separate into final data sets and fill NA
labels = results.iloc[:,0]
datasets = results.iloc[:,1:]
datasets.fillna(method = 'bfill')
datasets.fillna(method = 'ffill')
labels.to_csv("labels.csv",index = False,header = False)
datasets.to_csv("datasets.csv",index = False,header = False)
np.save("labels.npy",labels)
np.save("datasets.npy",datasets)

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
316,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
317,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
318,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
319,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [2]:
import pandas as pd
import numpy as np

#convert test file csv to npy
test = pd.read_csv('cloth.test.csv',header = None)
np.save("cloth.test.npy",test)